<h1 class="text-sm-center">Your Friendlist</h1>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>Friend's Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <% @user.friendships.each do |friendship| %>
  <tbody>
    <tr>
      <td><%= friendship.friend.username %></td>
      <th><%= friendship.friend.email %></th>
       <td><%= link_to "Remove friend", friendship, method: :delete %> </td>
    </tr>
  <% end %>
  </tbody>
  </table>

<h2>Congratulations, these people added you as their friends!!!</h2>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      </tr>
  </thead>
  <% @user.inverse_friends.each do |user| %>
    <tbody>
    <tr>
    <th><%= user.username %></th>
    <th><%= user.email %></th>
    </tr>
  </tbody>

  <% end %>
</table>
