<h1>Your friendlist</h1>
<%= link_to "Inbox", inbox_path %>

<%= link_to "Sent Messages", sent_messages_path %>
<%= link_to "New Message", new_message_path %>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li><%= friendship.friend.username %>
       (<%= link_to "Remove friend", friendship, method: :delete %>)
    </li>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% @user.inverse_friends.each do |user| %>
    <%= user.username %>
  <% end %>
</ul>
