<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: 'nav-link' %>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Log out", logout_path, method: :delete, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Your Dashboard", welcome_profile_path,class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Add Friend", welcome_addfriend_path,class: 'nav-link' %>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to "Signup", signup_path,class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Login", login_path,class: 'nav-link' %>
    </li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <span class="nav navbar-text pull-sm-right">

      <% if current_user.image_url? %>
        <%= image_tag(current_user.image_url.url, class: "img-circle profile-image") %>
      <% end %>
      <%= current_user.username %>
    </span>

  <% end %>

</nav>
